<%= stylesheet_link_tag 'users', :media => "all" %>

<div class="haikei">
  <div class="trainings-container">
    <h1>マイページ</h1>
    <div class="topuga">
      <div class="image">
          <%= image_tag @user.image_url if @user.image? %>
      </div>

      <div class="maipeeji">
        <div class="user">
          <h2><%= @user.username %></h2>
        </div>

        <div class="em">
          <%= @user.email %>
        </div>
      </div>
    </div>

    <div class="pro">
      <p><%= @user.profile%></p>
    </div>
    <%= link_to "プロフィールを編集する",edit_user_registration_path, class: "link-to" %>
    
    <% if user_signed_in? %>
    <% if current_user.id != @user.id %>　
      <%= render 'follow_form', user: @user %>
    　<%= render 'stats', user: @user %>
    <% end %>
    <% end %>
    <% @trainings.each do |t| %>
      <div class="training">
        <div class="main-box">
          <div class="left-container">
            <%= image_tag t.image_url if t.image? %>  
            <%= t.user.email %>
            <strong><p><%= t.body %></p></strong>
            <strong><p><%= t.howmany %>回</p></strong>
            <strong><p><%= t.howmanysets %>セット</p></strong>
            <%= t.created_at %>
          </div>  
          <div class="image">
            <%= image_tag t.image_url if t.image? %>
          </div>  
          <div class="right-container">
            <%= link_to "詳細へ", training_path(t.id), class: "link-to" %>
            <%= link_to "編集する", edit_training_path(t.id), class: "link-to" %>
            <%= link_to "削除する", training_path(t.id), method: :delete, class: "link-to" %>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>